@(loginForm: Form[models.users.Login], user: models.users.User)
@import helper._

  @* Pass page title and content {html between braces} to the main view *@
  @main("Login", user) {

  <div class = "col-xs-4">
    <h3>Sign in</h3>
    @if(loginForm.hasGlobalErrors) {
      <p class = "alert alert-warning">
        @loginForm.globalError.message
      </p>
    }

    @if(flash.containsKey("error")) {
      <div class = "alert alert-warning">
        @flash.get("loginRequired")
      </div>
    }

    @helper.form(action = controllers.routes.LoginController.loginSubmit()) {
      <div class = "form-group">
        @inputText(loginForm("email"), '_label -> " ", 'class -> "form-control input-xs", 'placeholder -> "Email")
      </div>

      <div class = "form-group">
        @inputPassword(loginForm("password"), '_label -> " ",
      'class -> "form - control input-xs", 'placeholder -> "Password")
        </div>
      <div class = "form-group">
        <input type="submit" value = "Sign in" class="btn btn-primary">
      </div>
    }
  </div>
}
